[Unit]
Description=STRIKER EDGE AI
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
User=mackie
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=XAUTHORITY=/home/mackie/.Xauthority
WorkingDirectory=/home/mackie/ewing-drone
ExecStart=/usr/bin/python3 striker/main.py
Restart=on-failure
RestartSec=3
StandardOutput=append:/home/mackie/striker.log
StandardError=append:/home/mackie/striker.log

[Install]
WantedBy=graphical.target
